<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Web App</title>
    <!-- Load static files -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <video autoplay muted loop>
            <source src="{% static 'bg.mp4' %}" type="video/mp4">
        </video>
        <h1>Welcome to Weather Web App</h1>
        <button id="check" onclick="location.href='{% url 'show' %}'">Check Weather</button>
    </div>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>
